<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/index.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top nav-container">
            <div class="navbar-header">
                <a id="experiment-name" class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li><a id="overview">Übersicht</a></li>
                    <li><a id="participants">Teilnehmerverwaltung</a></li>
                    <li><a id="analyse">Analyse der Testdaten</a></li>
                    <li><a id="export">Export der Testdaten</a></li>
                    <li><a id="experiment_settings">Experiment Einstellungen</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </nav>
        <div class="websocket-server-container centered">
            <i class="caption">Websocket</i>
            <br />
            <i id="websocket-server-status" class="fa fa-3x"></i>
            <br />
            <i id="websocket-connection-count" class="numberCircle">0</i>
        </div>
        <div class="eyetracker-container centered">
            <i class="caption">EyeTracker</i>
            <br />
            <i id="eyetracker-status" class="fa fa-3x"></i>
        </div>
        <div class="global-settings-container centered">
            <i id="application-settings" class="fa fa-cog fa-3x"></i>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 centered">
                    <h2>Teilnehmerverwaltung</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 centered">
                    <button type="button" class="btn btn-primary" onclick="nav.createParticipant()">Teilnehmer hinzufügen</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th>Identifier</th>
                                <th>Edit</th>
                                <th>Copy</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="participants-table"></tbody>
                    </table>
                </div>
            </div>
            <div class="row at-bottom">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary import-btn" onclick="experimentObj.importParticipants()">Teilnehmer aus XML importieren</button>
                    <button type="button" class="btn btn-primary export-btn" onclick="experimentObj.exportParticipants()">Teilnehmer als XML exportieren</button>
                </div>
            </div>
        </div><!-- /.container -->
    </div>
    <footer></footer>

    <script type="text/template" id="participant-template" class="template">
        <tr uid="<%= uid %>">
            <td>
                <%= identifier %>
            </td>
            <td>
                <i class='edit fa fa-pencil-square-o'></i>
            </td>
            <td>
                <i class='copy fa fa-files-o'></i>
            </td>
            <td>
                <i class='delete fa fa-times'></i>
            </td>
        </tr>
    </script>

    <script type="text/javascript" src="../../js/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../../js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/lib/underscore.min.js"></script>

    <script type="text/javascript">
        var participantArray = experimentObj.participantArray();
        var participantUIDs = experimentObj.participantUIDs();

        var template = _.template($('script#participant-template').html());

        for (var i = 0; i < participantArray.length; i++) {
            $("#participants-table").append(template({ uid: participantUIDs[i], identifier: participantArray[i] }));
        }

        $('#participants-table .edit').click(function () {
            var uid = $(this).closest('tr').attr('uid');

            console.log('edit clicked: ', uid);
            nav.editParticipant(uid);
        });

        $('#participants-table .copy').click(function () {
            var uid = $(this).closest('tr').attr('uid');

            console.log('copy clicked: ', uid);
            nav.copyParticipant(uid);
        });

        $('#participants-table .delete').click(function () {
            var uid = $(this).closest('tr').attr('uid');

            console.log('delete clicked: ', uid);
            nav.deleteParticipant(uid);
        });

    </script>


    <script type="text/javascript" src="../../js/src/logging.js"></script>
    <script type="text/javascript" src="../../js/src/nav.js"></script>
    <script type="text/javascript" src="../../js/src/init.js"></script>
</body>
</html>
