<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="../../../css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="../../../css/index.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label>Domain:</label>
                    <input id="domain" type="text" placeholder="z.B.: www.google.de" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label><input id="include-subdomains" type="checkbox" value="true">Subdomains einbeziehen (wie z.B. "maps.google.de"")</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Areas of Interest:</label>
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th>AOI Bezeichnung</th>
                                <th>Edit</th>
                                <th>Copy</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="aoi-table"></tbody>
                    </table>

                    <div class="centered">
                        <i id="add-aoi" class='fa fa-plus-circle'></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button id="cancel-button" type="button" class="btn btn-default">Abbrechen</button>
                    <button id="save-button" type="button" class="btn btn-default">Speichern</button>
                </div>
            </div>
        </div><!-- /.container -->


        <script type="text/template" id="aoi-template" class="template">
                <tr uid="<%= uid %>">
                    <td>
                        <%= identifier %>
                    </td>
                    <td>
                        <i class='edit fa fa-pencil-square-o'></i>
                    </td>
                    <td>
                        <i class='copy fa fa-files-o'></i>
                    </td>
                    <td>
                        <i class='delete fa fa-times'></i>
                    </td>
                </tr>
        </script>

            <script type="text/javascript" src="../../../js/lib/jquery-2.1.4.min.js"></script>
            <script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
            <script type="text/javascript" src="../../../js/lib/underscore.min.js"></script>

            <script type="text/javascript" src="../../../js/src/logging.js"></script>
            <script type="text/javascript" src="../../../js/src/edit_domain.js"></script>
</body>
</html>
