header{
    height: 110px;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: black;
    width: 100%;
}

div.content {
    position: absolute;
    top: 110px;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 20px;
}

.template {
    display: none;
}

.row {
    margin-bottom: 20px;
}

.centered {
    text-align: center;
}

.nav-list  li{
    display: block;
}

.nav-container{
    width: 70%;
    position: fixed;
    left: 0;
}

.websocket-server-container,
.eyetracker-container,
.global-settings-container{
    width: 10%;
    position: fixed;
    color: white;
}

.websocket-server-container{
    left: 70%;
    padding-top: 3px;
}

.eyetracker-container{
    left: 80%;
    padding-top: 3px;
}

.global-settings-container{
    padding-top: 30px;
    padding-bottom: 30px;
    left: 90%;
    margin-left: 20px;
}
 
#eyetracker-status, 
#websocket-server-status{
    margin-top: 10px;
}

#application-settings:hover{
    color: grey;
}

/* experiment wizard */

.header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-bottom: 25px;
}

.indented-controls{
    margin-left: 20px;
}

#back-button {
    float: left;
}

#create-experiment-button{
    float: right;
}


#cancel-button {
    float: left;
}

#save-button{
    float: right;
}

/* rule tables */

td.inner-condition-table {
    padding: 2.5%;
    border: solid;
    border-width: 2px;
    margin: 2px;
}

#inner-rules {
    margin-left: 5px;
}

thead.condition-head {
    margin-bottom: 5px;
}

/* icons */

.connected:before{
    content:"\f0c1";
}

.disconnected:before{
    content:"\f127";
}

.warning:before{
    content:"\f071";
}