header{
    height: 110px;
    position: fixed;
    top: 0;
    z-index: 9999;
}

div.content {
    position: absolute;
    top: 110px;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 20px;
}



.row {
    margin-bottom: 20px;
}

.centered {
    text-align: center;
}

/* experiment wizard */

.header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-bottom: 25px;
}

.indented-controls{
    margin-left: 20px;
}

#back-button {
    float: left;
}

#create-experiment-button{
    float: right;
}


#cancel-button {
    float: left;
}

#save-button{
    float: right;
}