header{
    height: 110px;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: black;
    width: 100%;
}

div.content {
    position: absolute;
    top: 110px;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 20px;
}

.template {
    display: none;
}

.row {
    margin-bottom: 20px;
}

.centered {
    text-align: center;
}

.nav-list  li{
    display: block;
}

.nav-container{
    width: 70%;
    position: fixed;
    left: 0;
}

.navbar-header{
    clear:both;
}

#navbar{
  margin-top: 59px;
}

.websocket-server-container,
.eyetracker-container,
.global-settings-container{
    width: 10%;
    position: fixed;
    color: white;
}

.websocket-server-container{
    left: 70%;
    padding-top: 3px;
}

.eyetracker-container{
    left: 80%;
    padding-top: 3px;
}

.global-settings-container{
    padding-top: 30px;
    padding-bottom: 30px;
    left: 90%;
}
 
#eyetracker-status, 
#websocket-server-status{
    margin-top: 10px;
}

#application-settings:hover{
    color: grey;
}

/* experiment wizard */

.header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-bottom: 25px;
}

.indented-controls{
    margin-left: 20px;
}

#back-button {
    float: left;
}

#create-experiment-button{
    float: right;
}


#cancel-button
{
    float: left;
}

#save-button,
#export-button{
    float: right;
}

/* rule tables */

td.inner-condition-table {
    padding: 2.5%;
    border: solid;
    border-width: 2px;
    margin: 2px;
}

#inner-rules {
    margin-left: 5px;
}

thead.condition-head {
    margin-bottom: 5px;
}

/* icons */

.connected:before{
    content:"\f0c1";
}

.disconnected:before{
    content:"\f127";
}

.warning:before{
    content:"\f071";
}

input.invalid {
    border-color: red;
}

/* saving indicator */

#saving-wrapper{
    display:none;

    background:rgba(255,255,255,0.5);

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#saving-text{
  position: fixed;
  top: 30%;
  left: 32%;
  font-size: 20px;
}

#saving-indicator{
  position: fixed;
  top: 15%;
  left: 50%;
  height: 40px;
  width: 40px;
}

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

/* Websocket connection count indicator */

.numberCircle {
    border-radius: 50%;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    
    font: 18px Arial, sans-serif;
    float: left;
    margin-left: 30px
}

/* experiment select list */

#experiment-list .row{
    padding: 5px;
    border-bottom: solid 2px black;
}

#participants-table .tr{
    padding: 5px;
    border-bottom: solid 2px black;
}