header{
    height: 110px;
    position: fixed;
    top: 0;
    z-index: 9999;
}

div.content {
    position: absolute;
    top: 110px;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 20px;
}

.template {
    display: none;
}



.row {
    margin-bottom: 20px;
}

.centered {
    text-align: center;
}

/* experiment wizard */

.header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-bottom: 25px;
}

.indented-controls{
    margin-left: 20px;
}

#back-button {
    float: left;
}

#create-experiment-button{
    float: right;
}


#cancel-button {
    float: left;
}

#save-button{
    float: right;
}

/* rule tables */

td.inner-condition-table {
    padding: 2.5%;
    border: solid;
    border-width: 2px;
    margin: 2px;
}

#inner-rules {
    margin-left: 5px;
}

thead.condition-head {
    margin-bottom: 5px;
}