<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.24.0" newVersion="4.5.24.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WebAnalyzer.Properties.Settings>
      <setting name="Datalocation" serializeAs="String">
        <value>C:\Users\thomas\Documents\WebAnalyzer\</value>
      </setting>
      <setting name="FirstStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMouseTracking" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WebsocketPort" serializeAs="String">
        <value>8888</value>
      </setting>
      <setting name="ETConnectLocal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ETReceiveIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ETReceivePort" serializeAs="String">
        <value>5555</value>
      </setting>
      <setting name="ETSentIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ETSentPort" serializeAs="String">
        <value>4444</value>
      </setting>
      <setting name="LogCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WSMessageDelay" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MouseTrackingInterval" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="TestrunSaveCheckIntervall" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="TestrunDataWaitDuration" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="DataTimeout" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="WebsocketNegotiationTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="WebsocketSentTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="WebsocketReceiveTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="WebsocketPingTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="WebsocketUseNagle" serializeAs="String">
        <value>False</value>
      </setting>
    </WebAnalyzer.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <WebAnalyzer.Properties.Settings>
      <setting name="Applicationname" serializeAs="String">
        <value>WebAnalyzer</value>
      </setting>
      <setting name="ExperimentFilename" serializeAs="String">
        <value>experiment.xml</value>
      </setting>
      <setting name="SettingsFilename" serializeAs="String">
        <value>settings.xml</value>
      </setting>
      <setting name="ParticipantsFilename" serializeAs="String">
        <value>participants.xml</value>
      </setting>
      <setting name="RawdataLocation" serializeAs="String">
        <value>data\{1}\raw</value>
      </setting>
      <setting name="StatisticsLocation" serializeAs="String">
        <value>data\{1}\statistics\</value>
      </setting>
      <setting name="LogsLocation" serializeAs="String">
        <value>log\</value>
      </setting>
      <setting name="ExperimentDataLocation" serializeAs="String">
        <value>data\{1}\data</value>
      </setting>
    </WebAnalyzer.Properties.Settings>
  </applicationSettings>
</configuration>
