<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="../../../css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="../../../css/index.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label>Identifier:</label>
                    <input id="identifier" type="text" placeholder="Identifier" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Geschlecht:</label>
                    <div id="sex">
                        <label><input id="male" type="radio" name="male">Männlich</label>
                        <label><input id="female" type="radio" name="female">Weiblich</label>
                        <label><input id="undecided" type="radio" name="undecided">Unbestimmt</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Geburtsjahr:</label>
                    <input id="birthyear" type="text" placeholder="birthyear" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Bildungsstand:</label>
                    <input id="education" type="text" placeholder="Bildungsstand" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Zusatzdaten:</label>
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th>Bezeichnung</th>
                                <th>Wert</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="extra-data-table"></tbody>
                    </table>

                    <div class="centered">
                        <i id="add-data" class='fa fa-plus-circle'></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button id="cancel-button" type="button" class="btn btn-default">Abbrechen</button>
                    <button id="save-button" type="button" class="btn btn-default">Speichern</button>
                </div>
            </div>
        </div><!-- /.container -->

        <script type="text/template" id="extra-data-template" class="template">
            <tr>
                <td>
                    <input class='key' type='text' placeholder='Bezeichnung' value="<%= key %>"/>
                </td>
                <td>
                    <input class='value' type='text' placeholder='Wert' value="<%= value %>"/>
                </td>
                <td>
                    <i class='delete fa fa-times'></i>
                </td>
            </tr>
        </script>

        <script type="text/javascript" src="../../../js/lib/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../../js/lib/underscore.min.js"></script>

        <script type="text/javascript" src="../../../js/src/logging.js"></script>
        <script type="text/javascript" src="../../../js/src/edit_participant.js"></script>
    </body>
</html>
